#java(Javaの自動生成ファイルを対象外にする)
*.class
*.jar
*.war
*.ear

# Eclipse(Eclipseの自動生成ファイル/制御ファイルを対象外にする)
.project
.classpath
.settings

# Idea(Ideaの自動生成ファイル/制御ファイルを対象外を対象外にする)
.idea
*.iml
*.iws
*.ipr

# OS(OSで自動で作成されるファイルを対象外にする)
Thumbs.db
.DS_Store

# Gradle(Gradleで自動作成されるファイルを対象外にする)
.gradle
!gradle-wrapper.jar

# Maven
target

# Build
out
build
bin

# Other
*.log
*.swp
*.bak
